$circle: './icon/circle.svg';
$circle-dot: './icon/circle-dot.svg';
$eye: './icon/eye.svg';
$eye-slash: './icon/eye-slash.svg';
$generic_icon: './icon/generic_icon.svg';
$hexagon: './icon/hexagon.svg';
$hexagon-check: './icon/hexagon-check.svg';